.overall-panel.overall-modal-overall
	.overall-panel-container
		.overall-panel-header.green
			.overall-panel-header-container
				.overall-panel-header-title
					.overall-panel-header-title-content
						i.fa.fa-credit-card-alt
						span Payment steps
				.overall-panel-header-actions
					.overall-panel-header-actions-list
						ul
							li.hide-overall-panel.hide-overall-modal-overall
								a(href="")
									i.fa.fa-times

		.overall-panel-content
			.overall-panel-content-modal-overall-form
				.overall-panel-content-modal-overall-form-container
					.cards
						h3 
							span 1
							| Choose your preferred payment method:
						ul.card-list
							li.card-item.active
								a(href="#")
									img(src="https://cs.segpay.com/Content/images/segpay-logo.png")
							li.card-item
								a(href="#")
									img(src="https://www.verotel.com/images.v2/logo.png")
					.total-price
						h3 
							span 2
							| Click to 
							b Confirm
							|  your order
						.total-price-container.pink
							a(href="#")
								| Buy
								b 100 tokens
								br
								| for
								b 10.00 USD