.overall-panel.overall-modal-overall
	.overall-panel-container
		.overall-panel-header.grey
			.overall-panel-header-container
				.overall-panel-header-title
					.overall-panel-header-title-content
						i.fa.fa-credit-card-alt
						span Payment 3
				.overall-panel-header-actions
					.overall-panel-header-actions-list
						ul
							li.hide-overall-panel.hide-overall-modal-overall
								a(href="")
									i.fa.fa-times

		.overall-panel-content
			.overall-panel-content-modal-overall-form
				.overall-panel-content-modal-overall-form-container
					.total-price
						h3 Your order
						.total-price-container.bluegreen
							h2.pink
								| Buy
								b 100 tokens
								br
								| for
								b 10.00 USD

					.cards
						h3 Choose your preferred payment method:
						ul.card-list
							li.card-item
								a(href="#")
									img(src="https://www.verotel.com/images.v2/logo.png")
							li.card-item
								a(href="#")
									img(src="https://cs.segpay.com/Content/images/segpay-logo.png")