extends layout

block content

	.app-view
		.app-container
			.app-content
				main
					.btns
						.btns-container
							.btns-set
								.btns-list.location-links
									h3 Расположение
									ul
										li.location-right.show-overall-panel.show-overall-modal-right
											a(href='/')
												span Справа
										li.location-bottom.show-overall-panel.show-overall-modal-bottom
											a(href='/')
												span Снизу
										li.location-overall.show-overall-panel.show-overall-modal-overall
											a(href='/')
												span Поверх всего