doctype html
html
	head
		title= title

		//- maximum-scale=1.0, user-scalable=0
		meta(name='viewport', content='width=device-width, initial-scale=1') 

		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/style.css')
		
	body.main-theme-light

		block content	

		.white_over_all

		include ./components/modal-right
		include ./components/modal-bottom
		include ./components/modal-overall

		script(src='https://code.jquery.com/jquery-3.3.1.min.js')

		script(src='/javascripts/main.js')