
<div class="overall-panel overall-modal-right">
  <div class="overall-panel-container">
    <div class="overall-panel-header green">
      <div class="overall-panel-header-container">
        <div class="overall-panel-header-title">
          <div class="overall-panel-header-title-content"><i class="fa fa-credit-card-alt"></i><span>Payment steps</span></div>
        </div>
        <div class="overall-panel-header-actions">
          <div class="overall-panel-header-actions-list">
            <ul>
              <li class="hide-overall-panel hide-overall-modal-right"><a href=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="overall-panel-content">
      <div class="overall-panel-content-modal-right-form">
        <div class="overall-panel-content-modal-right-form-container">
          <div class="cards">
            <h3> <span>1</span>Choose your preferred payment method:</h3>
            <ul class="card-list">
              <li class="card-item active"><a href="#"><img src="https://cs.segpay.com/Content/images/segpay-logo.png"/></a></li>
              <li class="card-item"><a href="#"><img src="https://www.verotel.com/images.v2/logo.png"/></a></li>
            </ul>
          </div>
          <div class="total-price">
            <h3> <span>2</span>Click to <b>Confirm</b> your order</h3>
            <div class="total-price-container pink"><a href="#">Buy<b>100 tokens</b><br/>for<b>10.00 USD</b></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>