.card {
    &s {
        padding: 12px;
        margin-bottom: 36px;

        .overall-modal-right & {
            margin-bottom: 48px;
        }
        .overall-modal-overall & {
            margin-top: 6px;
            margin-bottom: 24px;
        }

        &-title {
            h3 {
                margin: 36px 0 22px 0;
                font-weight: 500;
                line-height: 1.45;
                padding: 0 0 12px 0;
                border-bottom: 1px solid #e3e8e6;
                color: #45544e;
                // color: #394756;
                font-size: 18px;
            }
        }


        h3 {
            margin: 0 0 22px 0;
            font-weight: 500;
            line-height: 1.45;
            padding: 0 0 12px 0;
            border-bottom: 1px solid #e3e8e6;
            color: #45544e;
            font-size: 18px;
            letter-spacing: .5px;
            position: relative;
            text-indent: 28px;

            span {
                border-radius: 100%;
                background: #1ddd90;
                /* background: #048ba8; */
                /* background: #ff64a7; */
                width: 22px;
                position: absolute;
                /* display: inline-block; */
                line-height: 1;
                height: 21px;
                text-indent: 0;
                text-align: center;
                color: #fff;
                box-sizing: border-box;
                padding-top: 4px;
                font-size: 14px;
                left: 0;
                top: 2px;
            }
        }


        .overall-modal-bottom & {

            box-sizing: border-box;

            h3 {
                margin-top: 18px;
            }
        }

    }

    &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &-item {
        margin-bottom: 18px;

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 24px 48px;
            border: 1px solid #e3e8e6;
            border-radius: 6px;
            transition: all .3s ease;
            overflow: hidden;
            filter: grayscale(1);

            img {
                width: 100%;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 6px;
                height: 100%;
                background: #1ddd90;
                transform: translateX(-100%);
                transition: all .3s ease;
            }
        }

        &.active {
            a {
                filter: grayscale(0);
                box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
                transition: all .3s ease;

                &:after {
                    transform: translateX(0%);
                    transition: all .3s ease;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }

        &:hover {
            a {
                filter: grayscale(0);
                box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
                transition: all .3s ease;
            }
        }

        .overall-modal-bottom &,
        .overall-modal-overall & {
            width: 48%;

            @media screen and (min-width: 480px) {
                display: inline-block;
                vertical-align: top;
                height: 78px;
                margin-right: 18px;

                a {
                    img {
                        max-width: 144px;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }


        }
    }
}