.main-theme {
    &-light {
        .top-navigation {
            &-panel {
                background: #fff;
                border-bottom: 1px solid #e3e6e8;
                box-shadow: 0 5px 30px 0 rgba(29, 32, 37, 0.3);

                &-links {
                    &>li {
                        border-right: 1px solid #e3e6e8;

                        &:last-child {
                            border-right: none;
                        }

                        &>a {
                            color: #171D2F;
                        }

                        &.link-logo {
                            svg {
                                path {

                                    &.logo-symbol-z,
                                    &.logo-symbol-n,
                                    &.logo-symbol-a,
                                    &.logo-symbol-j,
                                    &.logo-symbol-dot {
                                        fill: #171D2F;
                                    }
                                }
                            }
                        }

                        &.language-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;
                                        color: #171D2F;

                                        span {
                                            border-right: 1px solid #1c254a;
                                        }
                                    }

                                    &.active {
                                        a {
                                            color: #f4d400;
                                        }
                                    }

                                }
                            }
                        }

                        &.rates-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;
                                        color: #171D2F;

                                        span {
                                            border-right: 1px solid #e3e6e8;
                                        }
                                    }

                                    &:last-child {
                                        a {
                                            span {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.weather-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;
                                        color: #171D2F;

                                        i {

                                            &.fa-sun-o {
                                                color: #f4d400;

                                                &:after {
                                                    background: #f4d400;
                                                    box-shadow: 0 0 60px 2px #f4d400;

                                                    @keyframes sunShine {
                                                        0% {
                                                            opacity: 1;
                                                            box-shadow: 0 0 30px 2px #f4d400;
                                                        }

                                                        50% {
                                                            opacity: .85;
                                                            box-shadow: 0 0 60px 2px #f4d400;
                                                        }

                                                        100% {
                                                            opacity: 1;
                                                            box-shadow: 0 0 30px 2px #f4d400;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        span {
                                            border-right: 1px solid #1c254a;
                                        }

                                    }

                                    &:last-child {
                                        a {
                                            span {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.last-news-btn {
                            &.added-something-new {
                                i:after {
                                    color: #fff;
                                    background: #ed462f;
                                    box-shadow: 0 0 0 3px #fff;
                                }
                            }
                        }
                    }
                }
            }

        }

        .app-content {
            main {
                background: #fff;
            }

            .article-03 {
                &-header {
                    padding: 12px;

                    @media (min-width: 992px) {
                        padding: 18px;
                    }

                    @media (min-width: 1280px) {
                        padding: 24px;
                    }

                    &-container {

                        padding-top: 24px;
                        padding-left: 24px;
                        padding-right: 24px;
                        padding-bottom: 24px;

                        @media (min-width: 992px) {
                            float: left;
                            width: 66.66666667%;
                            width: 80%;
                            width: 50%;
                            padding-top: 30px;
                            padding-left: 30px;
                            padding-right: 24px;
                            padding-bottom: 0;
                        }

                        @media (min-width: 1280px) {
                            width: 50%;
                            // width: 58.33333333%;
                            padding-top: 48px;
                            padding-left: 48px;
                            padding-right: 54px;
                        }

                    }

                    &-avd {
                        position: relative;
                        vertical-align: middle;
                        width: 100%;
                        z-index: 1;

                        &.show {
                            display: inline-block;
                        }

                        &.hide {
                            display: none;
                        }

                        &-01 {
                            display: none;

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 80%;
                                width: 100%;
                                border-radius: 0;
                                height: 60%;
                                background: #2840a0;
                                background: #f1f3f4;
                                margin: auto;
                                z-index: -1;
                            }

                            .article-03-header-avd-container {
                                width: 970px;
                            }

                            @media (min-width: 992px) {
                                display: inline-block;
                                margin-top: 18px;
                            }

                            @media (min-width: 1440px) {
                                margin-top: 24px;
                            }

                            &+.article-03-header {
                                @media (min-width: 1280px) {
                                    padding-top: 18px;
                                }

                                @media (min-width: 1440px) {
                                    padding-top: 24px;
                                }
                            }
                        }

                        &-02 {
                            display: none;
                        }

                        &-03 {
                            display: none;
                            z-index: 1;

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 80%;
                                width: 100%;
                                border-radius: 4px;
                                height: 60%;
                                background: #2840a0;
                                background: #f1f3f4;
                                margin: auto;
                                z-index: -1;
                            }

                            .article-03-header-avd-container {
                                // width: 970px;
                            }

                            @media (min-width: 768px) {
                                display: inline-block;
                                margin-top: 18px;
                            }

                            @media (min-width: 1440px) {
                                // margin-top: 48px;
                            }

                        }

                        &-04 {
                            display: inline-block;
                            margin-top: 24px;
                        }

                        &-container {
                            position: relative;
                            overflow: hidden;
                            background: #fff;
                            box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                            border-radius: 4px;
                            width: 100%;
                            width: 728px;
                            margin: auto;
                        }

                        .adv-cont {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;

                            img {
                                vertical-align: middle;
                                width: 100%;
                            }
                        }
                    }

                    &-date {
                        font-size: 12px;

                        @media (min-width: 992px) {
                            font-size: 13px;
                        }

                        p {
                            text-align: center;

                            span {
                                &:first-child {
                                    border-radius: 30px;
                                    border: 1px solid #dfe7eb;

                                    background: rgba(255, 255, 255, .85);

                                    @media (min-width: 992px) {
                                        background: none;
                                    }
                                }

                                &:last-child {
                                    color: #fff;

                                    @media (min-width: 992px) {
                                        color: initial;
                                    }
                                }
                            }

                            @media (min-width: 992px) {
                                text-align: left;
                            }
                        }

                    }

                    &-content {

                        // padding: 24px 0 32px 0;
                        width: 100%;
                        max-width: 580px;
                        margin: auto;
                        text-align: center;

                        @media (min-width: 992px) {
                            text-align: left;
                            margin: initial;
                            // margin: auto;
                            max-width: 612px;
                            // padding: 24px 0 32px 0;
                        }

                        @media (min-width: 1440px) {
                            margin: initial;
                            // padding: 24px 0 32px 0;
                            max-width: 612px;
                            // max-width: 720px;
                        }

                        &-text {
                            margin: 14px 0 18px 0;

                            @media (min-width: 992px) {

                                margin: 24px 0;
                            }

                            @media (min-width: 1280px) {
                                // margin: 18px 0 24px 0;
                                margin: 30px 0 42px 0;
                            }

                            @media (min-width: 1440px) {
                                margin: 30px 0 42px 0;
                            }

                            h1 {
                                margin-top: 0px;
                                font-weight: 500;
                                margin-bottom: 12px;
                                font-size: 28px;
                                line-height: 32px;
                                color: #2c2f35;
                                color: #0C172C;
                                color: #fff;

                                @media (min-width: 992px) {
                                    margin-bottom: 14px;
                                    font-size: 36px;
                                    line-height: 40px;
                                    color: #0C172C;
                                }

                                @media (min-width: 1280px) {
                                    margin-bottom: 18px;
                                    font-size: 40px;
                                    line-height: 48px;
                                }

                                @media (min-width: 1440px) {
                                    margin-bottom: 20px;
                                }

                            }

                            p {
                                margin-top: 0;
                                font-size: 16px;
                                line-height: 21px;
                                color: #818698;
                                color: #5e616e;
                                color: #fff;

                                @media (min-width: 992px) {
                                    color: #5e616e;
                                }

                                @media (min-width: 1280px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }

                                @media (min-width: 1440px) {}

                            }
                        }


                    }

                    &-social {
                        display: inline-block;
                        width: 100%;
                        vertical-align: middle;

                        h4 {
                            margin-top: 0;
                            margin-bottom: 6px;
                            font-size: 12px;
                            color: #3b484f;
                            color: rgba(255, 255, 255, .65);
                            font-weight: 600;
                            text-transform: uppercase;

                            @media (min-width: 768px) {
                                font-size: 14px;
                            }

                            @media (min-width: 992px) {
                                font-size: 16px;
                                color: #3b484f;
                            }

                        }

                        ul {
                            border-radius: 4px;
                            border: 1px solid #1c2c6f;
                            background-image: linear-gradient(90deg, #273e9b 0%, #2941a3 51%, #273e9b 100%);

                            li {


                                a {
                                    width: 100%;
                                    height: 36px;
                                    padding: 10px 16px;
                                    color: #fff;
                                    border-right: 1px solid rgba(0, 0, 0, .3);

                                    @media (min-width: 768px) {
                                        height: 40px;
                                        padding: 12px 16px;
                                    }

                                    i {

                                        font-size: 16px;

                                        @media (min-width: 992px) {
                                            font-size: 18px;
                                        }

                                    }
                                }

                                &:last-child {
                                    a {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }

                    &-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;

                        @media (min-width: 992px) {
                            position: relative;
                            top: auto;
                            left: auto;
                            height: 50vh;
                            float: left;
                            width: 33.33333333%;
                            width: 20%;
                            width: 50%;
                            min-height: 440px;
                            z-index: 0;
                        }

                        @media (min-width: 1280px) {
                            width: 50%;
                            // width: 41.66666667%;
                            height: 60vh;
                            min-height: 500px;
                        }

                        &-content {
                            border-radius: 0;
                            background-origin: border-box;
                            box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(6, 9, 20, 0.7);
                                z-index: 1;
                            }

                            @media (min-width: 992px) {
                                border-radius: 4px;

                                &:after {
                                    display: none;
                                }
                            }


                        }
                    }
                }

                &-main {
                    &-intro {
                        p {
                            i {
                                color: #5e616e;
                            }
                        }

                        &-content {
                            &:after {
                                border: 1px solid #c7cdd1;
                                background: #d1dae0;
                            }
                        }
                    }

                    &-col {
                        &-adv {
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 80%;
                                width: 100%;
                                border-radius: 4px;
                                height: 60%;
                                background: #2840a0;
                                background: #f1f3f4;
                                margin: auto;
                                z-index: -1;
                            }



                            &-container {
                                position: relative;
                                overflow: hidden;
                                background: #fff;
                                box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                                border-radius: 4px;
                                width: 100%;
                                width: 620px;
                                margin: auto;
                            }

                            .adv-cont {
                                position: relative;
                                display: inline-block;
                                vertical-align: middle;
                                width: 100%;

                                img {
                                    vertical-align: middle;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    &-row {
                        &-adv {

                            display: none;


                            @media (min-width: 640px) {
                                display: inline-block;

                            }

                            // background: #00f;

                            .article-03-main-col {
                                float: none;

                                border-top: 1px solid rgba(198, 206, 210, 0.25);
                                padding-top: 18px;
                                margin-top: 0;
                                margin-bottom: 6px;
                                padding-bottom: 0;
                            }
                        }
                    }


                }

                &-aside {

                    .adv-cont {
                        position: relative;
                        vertical-align: middle;
                        width: 100%;
                        width: 300px;
                        margin: auto;

                        @media (min-width: 992px) {
                            display: inline-block;

                        }

                        img {
                            width: 100%;
                        }
                    }

                }
            }
        }

        .content-section {
            &-dark {
                background: #f0f4f7;
                border-top: 1px solid #dfe7eb;
                border-bottom: 1px solid #dfe7eb;

                .huge-promo-slide-col-list,
                .huge-promo-02-slide-col-list {
                    border-color: #e3e5e8 !important;

                    .huge-promo-slide-item-container,
                    .huge-promo-02-slide-item-container {
                        border-color: #e3e5e8 !important;
                    }
                }

                &.footer {
                    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                    border-top: 1px solid #ced5de;
                    border-bottom: none;
                }

                .footer-section {

                    &-top,
                    &-middle {
                        border-color: #ced5de;
                    }

                    &-list-logo {

                        .logo {
                            svg {

                                .logo-symbol-z,
                                .logo-symbol-n,
                                .logo-symbol-a,
                                .logo-symbol-j,
                                .logo-symbol-dot {
                                    fill: #171D2F;
                                }
                            }
                        }
                    }

                    &-list {
                        .list-body.follow-row {
                            li {
                                a {
                                    i {

                                        color: #171D2F;
                                        transition: all .3s ease;
                                    }
                                }

                                &:hover {
                                    a {
                                        i {
                                            color: #006cb7;
                                            color: #3377ff;
                                            transition: all .3s ease;

                                        }
                                    }
                                }
                            }
                        }


                        &-contact-us {

                            h4,
                            h5 {
                                color: #171D2F;
                            }

                            ul {
                                li {
                                    a {
                                        opacity: .65;
                                        color: #171D2F;
                                        transition: all .3s ease;
                                    }

                                    &:hover {
                                        a {
                                            color: #006cb7;
                                            color: #3377ff;
                                            transition: all .3s ease;
                                        }
                                    }
                                }
                            }



                        }

                        &-support p {
                            opacity: .65;
                            color: #171D2F;
                        }
                    }

                    .footer-categories {

                        ul {
                            li {
                                a {
                                    color: #171D2F;
                                    transition: all .3s ease;
                                }

                                &:hover {
                                    a {
                                        color: #006cb7;
                                        color: #3377ff;
                                        transition: all .3s ease;
                                    }
                                }
                            }
                        }
                    }
                }


            }

            &-light {
                background: #fff;
            }

        }


    }

    &-dark {
        .top-navigation {
            &-panel {
                background: #0e1325;
                border-bottom: 1px solid #1c254a;
                box-shadow: 0 5px 30px 0 rgba(29, 32, 37, 0.3);

                &-links {
                    &>li {
                        border-right: 1px solid #1c254a;

                        &:last-child {
                            border-right: none;
                        }

                        &>a {
                            color: #eff1f5;
                        }

                        &.link-logo {
                            svg {

                                .logo-symbol-z,
                                .logo-symbol-n,
                                .logo-symbol-a,
                                .logo-symbol-j,
                                .logo-symbol-dot {
                                    fill: #fff;
                                }
                            }
                        }

                        &.language-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;

                                        span {
                                            border-right: 1px solid #1c254a;
                                        }
                                    }

                                    &.active {
                                        a {
                                            color: #f4d400;
                                        }
                                    }

                                }
                            }
                        }

                        &.rates-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;

                                        span {
                                            border-right: 1px solid #1c254a;
                                        }
                                    }

                                    &:last-child {
                                        a {
                                            span {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.weather-btns {
                            ul {
                                li {
                                    a {
                                        color: #eff1f5;

                                        i {

                                            &.fa-sun-o {
                                                color: #f4d400;

                                                &:after {
                                                    background: #f4d400;
                                                    box-shadow: 0 0 60px 2px #f4d400;

                                                    @keyframes sunShine {
                                                        0% {
                                                            opacity: 1;
                                                            box-shadow: 0 0 30px 2px #f4d400;
                                                        }

                                                        50% {
                                                            opacity: .85;
                                                            box-shadow: 0 0 60px 2px #f4d400;
                                                        }

                                                        100% {
                                                            opacity: 1;
                                                            box-shadow: 0 0 30px 2px #f4d400;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        span {
                                            border-right: 1px solid #1c254a;
                                        }

                                    }

                                    &:last-child {
                                        a {
                                            span {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.last-news-btn {
                            &.added-something-new {
                                i:after {
                                    color: #fff;
                                    background: #ed462f;
                                    box-shadow: 0 0 0 3px #0e1326;
                                }
                            }
                        }
                    }
                }
            }

        }

        .app-content {
            main {
                background: #f0f4f7;

            }

            .article-03 {
                &-header {

                    padding: 12px;

                    @media (min-width: 992px) {
                        display: flex;
                        padding: 36px 18px;
                    }

                    @media (min-width: 1280px) {
                        padding: 36px 24px;
                    }

                    &-container {
                        padding: 24px;
                        // max-width: 580px;

                        @media (min-width: 992px) {
                            float: left;
                            width: 50%;
                            padding: 0;
                            // max-width: 692px;
                        }

                        @media (min-width: 1440px) {
                            // max-width: 692px;
                        }
                    }


                    &-avd {

                        &-01,
                        &-03,
                        &-04 {
                            display: none;
                        }

                        &-02 {
                            display: none;

                            @media (min-width: 768px) {
                                width: 41.66666667%;
                                margin-left: 8.33333333%;
                            }

                            @media (min-width: 992px) {
                                display: block;
                                width: 33.33333333%;
                                margin-left: 16.66666667%;
                            }

                            // @media (min-width: 1440px) {
                            //     width: 33.33333333%;
                            //     margin-left: 16.66666667%;
                            // }

                            .article-03-header-avd-container {
                                // padding: 0;
                                // margin-right: 0;
                                // width: auto;
                                // max-width: 348px;
                                text-align: right;

                                @media (min-width: 992px) {
                                    text-align: center;
                                }

                                .adv-cont {
                                    width: 324px;
                                    padding: 12px;

                                    background: #fff;
                                    box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                                    border-radius: 4px;

                                    @media (min-width: 1440px) {
                                        width: 348px;
                                        padding: 24px;
                                    }
                                }
                            }
                        }

                        float: left;
                        width: 33.33333333%;
                        margin-left: 16.66666667%;
                        align-self: center;

                        &-container {
                            // position: relative;
                            // overflow: hidden;
                            // background: #fff;
                            // box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                            // border-radius: 4px;
                            // width: 100%;
                            // max-width: 348px;
                            // padding: 24px;
                            // margin: 0 auto 24px auto;
                        }

                        .adv-cont {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;

                            img {
                                vertical-align: middle;
                                width: 100%;
                            }
                        }

                    }

                    &-content {

                        color: #fff;

                        width: 100%;

                        margin: auto;
                        text-align: center;
                        max-width: 580px;

                        @media (min-width: 992px) {

                            text-align: left;
                            margin: initial;
                            // margin: auto;
                            max-width: none;
                            // padding: 24px 0 32px 0;
                        }

                        @media (min-width: 1440px) {}





                        &-text {
                            margin: 14px 0 18px 0;

                            @media (min-width: 992px) {

                                margin: 24px 0;
                            }

                            @media (min-width: 1280px) {
                                // margin: 18px 0 24px 0;
                                margin: 30px 0 42px 0;
                            }

                            @media (min-width: 1440px) {
                                margin: 30px 0 42px 0;
                            }

                            h1 {
                                margin-top: 0px;
                                font-weight: 500;
                                margin-bottom: 12px;
                                font-size: 28px;
                                line-height: 32px;

                                @media (min-width: 992px) {
                                    margin-bottom: 14px;
                                    font-size: 36px;
                                    line-height: 40px;
                                }

                                @media (min-width: 1280px) {
                                    margin-bottom: 18px;
                                    font-size: 40px;
                                    line-height: 48px;
                                }

                                @media (min-width: 1440px) {
                                    margin-bottom: 20px;
                                    font-size: 50px;
                                    line-height: 60px;
                                }

                            }

                            p {
                                margin-top: 0;
                                font-size: 16px;
                                line-height: 21px;
                                color: #ebf1ff;


                                @media (min-width: 992px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }

                                @media (min-width: 1280px) {
                                    font-size: 20px;
                                    line-height: 26px;
                                }

                                @media (min-width: 1440px) {
                                    font-size: 22px;
                                    line-height: 28px;
                                }

                            }
                        }




                    }

                    &-date {

                        p {
                            opacity: .75;
                            font-size: 12px;

                            @media (min-width: 992px) {
                                font-size: 16px;
                            }

                            span {
                                &:first-child {
                                    border-radius: 4px;
                                    background: #fff;
                                    color: #0e1227;
                                }

                                &:last-child {
                                    color: #fff;
                                }
                            }
                        }

                        font-size: 12px;

                        @media (min-width: 992px) {
                            font-size: 13px;
                        }

                        p {
                            text-align: center;
                            opacity: .75;

                            @media (min-width: 992px) {
                                text-align: left;
                            }

                            span {
                                &:first-child {
                                    border-radius: 4px;
                                    background: #fff;
                                    color: #0e1227;
                                }

                                &:last-child {
                                    color: #fff;
                                }
                            }

                        }

                    }


                    &-social {
                        display: inline-block;
                        width: 100%;
                        vertical-align: middle;

                        h4 {
                            margin-top: 0;
                            margin-bottom: 6px;
                            font-size: 12px;
                            color: #3b484f;
                            color: rgba(255, 255, 255, .65);
                            font-weight: 600;
                            text-transform: uppercase;

                            @media (min-width: 768px) {
                                font-size: 14px;
                            }

                            @media (min-width: 992px) {
                                font-size: 16px;
                            }

                        }

                        ul {
                            border-radius: 4px;
                            border: 1px solid #1c2c6f;
                            background-image: linear-gradient(90deg, #273e9b 0%, #2941a3 51%, #273e9b 100%);

                            li {


                                a {
                                    width: 100%;
                                    height: 36px;
                                    padding: 10px 16px;
                                    color: #fff;
                                    border-right: 1px solid rgba(0, 0, 0, .3);

                                    @media (min-width: 768px) {
                                        height: 40px;
                                        padding: 12px 16px;
                                    }

                                    @media (min-width: 1440px) {
                                        height: 44px;
                                        padding: 14px 18px;
                                    }

                                    i {

                                        font-size: 16px;

                                        @media (min-width: 992px) {
                                            font-size: 18px;
                                        }

                                    }
                                }

                                &:last-child {
                                    a {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }

                    &-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;

                        &-content {
                            background-attachment: fixed;
                            box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                            z-index: 1;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(6, 9, 20, 0.7);
                                z-index: 1;
                            }
                        }
                    }
                }

                &-main {
                    &-intro {
                        p {
                            i {
                                color: #5e616e;
                            }
                        }

                        &-content {
                            &:after {
                                border: 1px solid #c7cdd1;
                                background: #d1dae0;
                            }
                        }
                    }

                    &-col {
                        &-adv {
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 80%;
                                width: 100%;
                                border-radius: 4px;
                                height: 60%;
                                background: #2840a0;
                                background: #f1f3f4;
                                margin: auto;
                                z-index: -1;
                            }



                            &-container {
                                position: relative;
                                overflow: hidden;
                                background: #fff;
                                box-shadow: 0 10px 20px -2px rgba(29, 32, 37, 0.2);
                                border-radius: 4px;
                                width: 100%;
                                width: 620px;
                                margin: auto;
                            }

                            .adv-cont {
                                position: relative;
                                display: inline-block;
                                vertical-align: middle;
                                width: 100%;

                                img {
                                    vertical-align: middle;
                                    width: 100%;
                                }
                            }
                        }
                    }


                    &-row {
                        &-adv {
                            display: none;


                            @media (min-width: 640px) {
                                display: inline-block;

                            }
                            // background: #00f;

                            .article-03-main-col {
                                float: none;

                                border-top: 1px solid rgba(198, 206, 210, 0.25);
                                padding-top: 18px;
                                margin-top: 0;
                                margin-bottom: 6px;
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                &-aside {
                    .adv-cont {
                        position: relative;
                        vertical-align: middle;
                        width: 100%;
                        width: 300px;
                        margin: auto;

                        @media (min-width: 992px) {
                            display: inline-block;

                        }

                        img {
                            width: 100%;
                        }
                    }



                }

            }

        }

        .content-section {
            &-dark {
                background-image: radial-gradient(ellipse at center top, #1a1e32 0, #060814 100%);

                &:before {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to top, #1a1e32, rgba(26, 30, 50, 0));
                }

                .huge-promo-slide-title-text,
                .huge-promo-02-slide-title-text {
                    h2 {
                        color: #fff;
                    }
                }

                .huge-promo-slide-col-list,
                .huge-promo-02-slide-col-list {
                    border-color: #1c254a !important;

                    .huge-promo-slide-item-title,
                    .huge-promo-02-slide-item-title {
                        h3 {
                            color: #fff;
                        }
                    }

                    .huge-promo-slide-item-date,
                    .huge-promo-02-slide-item-date {
                        span {
                            color: #fff;
                        }
                    }

                    .huge-promo-slide-item-container,
                    .huge-promo-02-slide-item-container {
                        border-color: #1c254a !important;
                    }
                }

                .footer-section {

                    &-top,
                    &-middle {
                        border-color: #1c254a;
                    }

                    &-list-logo {

                        .logo {
                            svg {

                                .logo-symbol-z,
                                .logo-symbol-n,
                                .logo-symbol-a,
                                .logo-symbol-j,
                                .logo-symbol-dot {
                                    fill: #fff;
                                }
                            }
                        }
                    }

                    &-list {


                        .list-body.follow-row {
                            li {
                                a {
                                    i {

                                        color: #fff;
                                        transition: all .3s ease;
                                    }
                                }

                                &:hover {
                                    a {
                                        i {
                                            color: #006cb7;
                                            color: #3377ff;
                                            transition: all .3s ease;

                                        }
                                    }
                                }
                            }
                        }


                        &-contact-us {

                            h4,
                            h5 {
                                color: #fff;
                            }

                            ul {
                                li {
                                    a {
                                        color: #ebf1ff;
                                        transition: all .3s ease;
                                    }

                                    &:hover {
                                        a {
                                            color: #006cb7;
                                            color: #3377ff;
                                            transition: all .3s ease;
                                        }
                                    }
                                }
                            }



                        }

                        &-support p {
                            color: #ebf1ff;
                        }
                    }

                    .footer-categories {

                        ul {
                            li {
                                a {
                                    color: #fff;
                                    transition: all .3s ease;
                                }

                                &:hover {
                                    a {
                                        color: #006cb7;
                                        color: #3377ff;
                                        transition: all .3s ease;
                                    }
                                }
                            }
                        }
                    }
                }



            }

            &-light {
                background: #f0f4f7;

                .huge-promo-slide-col-list {
                    border-color: #e3e5e8 !important;

                    .huge-promo-slide-item-container {
                        border-color: #e3e5e8 !important;
                    }
                }

            }

        }



    }
}